
<!-- Intro Start -->
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% else %}
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% endif %}
            </a>
            <br>
            <br>
            <br>
            <br>


          <mydivi> <b>ABHIJEET GUPTA</b></mydivi>

          <br><br>
           <mydivi> <b>Google me as @abhijeet010304</b> </mydivi>
          <!-- <p><a  class="button">abhijeet010304</a></p> -->


          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
